/* ----------GLOBAL---------*/
html {
  scroll-behavior: smooth;
}
/* -----Colors-----*/
.black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.blue {
  color: #1296D7;
}

.bg-blue {
  background-color: #1296D7;
}

.purple {
  color: #8F318A;
}

.bg-purple {
  background-color: #8F318A;
}

.red {
  color: #E5141E;
}

.bg-red {
  background-color: #E5141E;
}

.orange {
  color: #F27119;
}

.bg-orange {
  background-color: #F27119;
}

.yellow {
  color: #FEB611;
}

.bg-yellow {
  background-color: #FEB611;
}

.green {
  color: #62B03C;
}

.bg-green {
  background-color: #62B03C;
}

.opacity-65 {
  opacity: .65;
}
/* -----Colors End-----*/
/* -----Custom Heights -----*/
.vh-100 {
  height: 100vh;
}
.vh-85 {
  height: 85vh;
}

.vh-5 {
  height: 5vh;
}

.vh-2 {
  height: 2vh;
}

.h-6 {
  height: 6%;
}
/* -----Custom Heights End-----*/

/* -----Static TV Background-----*/
#loadingDiv {
  background-image: url('https://media.giphy.com/media/mLzyLpjntafIY/giphy.gif');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9) inset;
  pointer-events: none;
  border-radius: 5px;
  display: none;
}

#vignetteInner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.9) inset;
  pointer-events: none;
  border-radius: 5px
}

#vignetteHome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  pointer-events: none;
  border-radius: 10px;
}

.loading {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}
/* -----Static TV Background End-----*/

body {
  font-family: 'Anton', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-underline-line: none;
}

.hoverBoxText {
  font-size: 38px;
  text-align: center;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  top: 0%;
  left: 0%;
  z-index: 10;
}

.remoteBtn {
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: red;
  color: white !important;
  cursor: pointer;
  padding: .5em;
  border-radius: 10px;
  font-size: 16px;
  height: 45px;
  width: 33%;
  text-align: center;
}

.remoteBtn:hover {
  background-color: #555;
}

.remote {
  width: 150px;
  height: 250px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50%;
  opacity: .76;
  z-index: 99;
}

.litteBtns {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
/* ----------GLOBAL END---------*/
/* ----------HOME PAGE---------*/
.vh-85 .bg-blue {
  border: 4px solid #1296D7;
  transition:all .07s;
}

.vh-85 .bg-blue:hover,
.vh-85 .bg-purple:hover,
.vh-85 .bg-red:hover,
.vh-85 .bg-orange:hover,
.vh-85 .bg-yellow:hover,
.vh-85 .bg-green:hover {
  transform: scale(1.01);
  border-color: #ffc600;
  box-shadow: 0 0 14px #ffc600;
  z-index: 1;
}

.vh-85 .bg-purple {
  border: 4px solid #8F318A;
}

.vh-85 .bg-red {
  border: 4px solid #E5141E;
}

.vh-85 .bg-orange {
  border: 4px solid #F27119;
}

.vh-85 .bg-yellow {
  border: 4px solid #FEB611;
}

.vh-85 .bg-green {
  border: 4px solid #62B03C;
}
/* ----------HOME PAGE END---------*/
/* ----------INTERIOR PAGE---------*/
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border: 0;
    font-weight: 400;
  }

  .card-title {
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
  }

  .card-body {
    font-family: 'Roboto', sans-serif;
  }

  .contact-list {
    font-weight: 100;
    text-align: center;
  }


/* ----------INTERIOR PAGE END---------*/